.order-content-extra {
  .orderer-info-area,
  .place-map-area,
  .agreement-area {
    padding: 0 $m-padding 3rem;
    background-color: #fff;
  }

  .title {
    padding-top: 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: $booking-color-text2;
  }

  .orderer-info-area {
    .info-item {
      margin-top: 2rem;
    }

    .info-title {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      color: $booking-color-text2;
      &::before {
        content: '';
        margin-right: 0.8rem;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        background-color: #d5dadd;
      }
    }

    .option-group {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      height: 4.5rem;
      .option-item {
        flex: 1;
      }
    }

    .input-radio {
      position: absolute;
      &:checked {
        & + .input-radio-button {
          border-color: $green;
          background-color: $green;
          font-weight: 700;
          color: #fff;
        }
      }
    }

    .input-radio-button {
      display: block;
      line-height: 4.5rem;
      border: 0.1rem solid $booking-color-border110;
      background-color: $booking-color-bg3;
      font-size: 1.5rem;
      color: $booking-color-text5;
      text-align: center;
      &.need {
        border-radius: 0.5rem 0 0 0.5rem;
      }
      &.no-need {
        border-radius: 0 0.5rem 0.5rem 0;
        border-left: 0;
      }
    }

    .input-text {
      display: block;
      margin-top: 1rem;
      padding: 0 1.2rem;
      width: 100%;
      height: 4.5rem;
      border: 0.1rem solid $booking-color-border112;
      background-color: $booking-color-bg2;
      font-size: 1.5rem;
      color: $booking-color-text2;
    }
  }

  .place-map-area {
    margin-top: 0.2rem;
    padding-bottom: 0;

    .map-area {
      margin-top: 1rem;
      border-radius: 0.5rem;
      background-color: $booking-color-bg5;
      overflow: hidden;
    }

    .place-address-box {
      padding: 1rem 1.4rem;
      font-size: 1.4rem;
    }

    .place-name {
      font-size: 1.5rem;
      font-weight: 600;
      color: $booking-color-text2;
    }

    .place-address {
      margin-top: 0.4rem;
      color: $booking-color-text4;
    }

    .place-address-detail {
      margin-top: 0.8rem;
      color: #006f49;
    }

    .img-map {
      display: block;
      width: 100%;
      border-top: 0.1rem solid #e9eef0;
    }
  }

  .agreement-area {
    .agreement-list {
      margin-top: 1rem;
      border: 0.1rem solid $booking-color-border112;
      border-radius: 0.5rem;
      overflow: hidden;
    }

    .agreement-item {
      &:not(:first-child) {
        border-top: 0.1rem solid $booking-color-border2;
      }
      &.is-open {
        .agreement-content {
          display: block;
        }
        .btn-toggle {
          transform: rotate(0deg);
        }
      }
    }

    .agreement-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1.2rem;
      height: 4.4rem;
      color: $booking-color-text2;
      .txt {
        font-size: 1.5rem;
      }
      .btn-toggle {
        width: 4.4rem;
        height: 100%;
        transform: rotate(180deg);
      }
    }

    .agreement-content {
      display: none;
      padding: 1.2rem;
      max-height: 19.4rem;
      border-top: 0.1rem solid $booking-color-border2;
      background-color: $booking-color-bg3;
      font-size: 1.4rem;
      color: $booking-color-text4;
      overflow-y: auto;
    }

    .agreement-info-txt {
      margin-top: 1.4rem;
      padding-left: 0.8rem;
      border-left: 0.3rem solid $booking-color-bg113;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: -0 4.5rem;
      color: $booking-color-text4;
    }
  }
}
